<a href="https://colab.research.google.com/github/tylerjmwhit/Maching_learning_pratice_notebooks/blob/main/Week7Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install yfinance
import yfinance as yf

Collecting yfinance
  Downloading yfinance-0.1.70-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.10)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.5)
Collecting requests>=2.26
  Downloading requests-2.27.1-py2.py3-none-any.whl (63 kB)
     |████████████████████████████████| 63 kB 1.2 MB/s
Collecting lxml>=4.5.1
  Downloading lxml-4.8.0-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.4 MB)
     |████████████████████████████████| 6.4 MB 13.5 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, lxml, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires requests~=2.23.0, but you have requests 2.27.1 which is incompatible.
datascience 0.10.6 requires folium==0.2.1, but you have folium 0.8.3 which is incompatible.
Successfully installed lxml-4.8.0 requests-2.27.1 yfinance-0.1.70

In [ ]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from datetime import datetime

In [ ]:
ticker = yf.Ticker("NVDA")
df = ticker.history(period='max')

In [ ]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1999-01-22,0.401824,0.448464,0.356379,0.376709,271468800.0,0.0,0.0
1999-01-25,0.406607,0.420958,0.376709,0.416174,51048000.0,0.0,0.0
1999-01-26,0.420958,0.429329,0.377905,0.383885,34320000.0,0.0,0.0
1999-01-27,0.385081,0.394649,0.363554,0.382689,24436800.0,0.0,0.0
1999-01-28,0.382689,0.385081,0.379101,0.381494,22752000.0,0.0,0.0
...,...,...,...,...,...,...,...
2022-03-04,233.839996,236.800003,224.820007,229.360001,43141500.0,0.0,0.0
2022-03-07,228.169998,230.330002,213.300003,213.520004,45082100.0,0.0,0.0
2022-03-08,213.089996,223.729996,206.500000,215.139999,55746700.0,0.0,0.0
2022-03-09,223.869995,232.199997,222.470001,230.139999,49180600.0,0.0,0.0
2022-03-10,225.309998,227.880005,218.820007,226.580002,42806565.0,0.0,0.0

In [ ]:
df.loc[:,"average"] = (df['Open'] + df['High'] + df['Low'] + df['Close'])/4
df.loc[:,'tommorow'] = df['average'].shift(-1)
df.loc[:,'yesterday'] = df['average'].shift(1)
df.loc[:,'roll 3'] = df['average'].rolling(window=3).mean()
df.loc[:,'Dates'] = df.index

In [ ]:
df =df.dropna()
df.index = range(len(df))

In [ ]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,average,tommorow,yesterday,roll 3,Dates
0,0.420958,0.429329,0.377905,0.383885,34320000.0,0.0,0.0,0.403019,0.381493,0.405112,0.401325,1999-01-26
1,0.385081,0.394649,0.363554,0.382689,24436800.0,0.0,0.0,0.381493,0.382091,0.403019,0.396542,1999-01-27
2,0.382689,0.385081,0.379101,0.381494,22752000.0,0.0,0.0,0.382091,0.372823,0.381493,0.388868,1999-01-28
3,0.381494,0.382689,0.363554,0.363554,24403200.0,0.0,0.0,0.372823,0.367740,0.382091,0.378803,1999-01-29
4,0.363554,0.373122,0.363554,0.370730,15470400.0,0.0,0.0,0.367740,0.352493,0.372823,0.374218,1999-02-01
...,...,...,...,...,...,...,...,...,...,...,...,...
5811,242.619995,243.259995,234.690002,237.139999,36509500.0,0.0,0.0,239.427498,231.205002,239.499996,239.026474,2022-03-03
5812,233.839996,236.800003,224.820007,229.360001,43141500.0,0.0,0.0,231.205002,221.330002,239.427498,236.710832,2022-03-04
5813,228.169998,230.330002,213.300003,213.520004,45082100.0,0.0,0.0,221.330002,214.614998,231.205002,230.654167,2022-03-07
5814,213.089996,223.729996,206.500000,215.139999,55746700.0,0.0,0.0,214.614998,227.169998,221.330002,222.383334,2022-03-08
5815,223.869995,232.199997,222.470001,230.139999,49180600.0,0.0,0.0,227.169998,224.647503,214.614998,221.038333,2022-03-09

In [ ]:
x_train = df[['average','roll 3','yesterday']].values
y_train = df[['tommorow']].values

In [ ]:
lr = LinearRegression()
lr.fit(x_train,y_train)
lr.score(x_train,y_train)

0.9992279023475827

In [ ]:
from sklearn.model_selection import KFold
lr = LinearRegression()
kf = KFold(n_splits=5, shuffle=True)

scores = []
for train_index, test_index in kf.split(x_train):
  x_split, x_test = x_train[train_index] , x_train[test_index]
  y_split, y_test = y_train[train_index] , y_train[test_index]
  lr.fit(x_split,y_split)
  scores.append(lr.score(x_test,y_test))
print(scores)
print(np.mean(scores))

[0.9992752889649272, 0.9992444154435589, 0.9990862279161338, 0.9992218190701112, 0.9992077641463057]
0.9992071031082073

In [ ]:
from sklearn.metrics import r2_score
preds = lr.predict(x_train[5815].reshape(1,-1))
print(preds,y_train[5815])
# r2 = r2_score(y_train[5815].reshape(1,-1),preds)
# print(r2)

[[230.77069139]] [224.6475029]

In [ ]:
df.loc[:, 'month'] = df['Dates'].dt.month

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [ ]:
df.loc[:,'week'] = df['Dates'].dt.week
df.loc[:,'day'] = df['Dates'].dt.day

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [ ]:
df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,average,tommorow,yesterday,roll 3,Dates,month,week,day
0,0.420958,0.429329,0.377905,0.383885,34320000.0,0.0,0.0,0.403019,0.381493,0.405112,0.401325,1999-01-26,1,4,26
1,0.385081,0.394649,0.363554,0.382689,24436800.0,0.0,0.0,0.381493,0.382091,0.403019,0.396542,1999-01-27,1,4,27
2,0.382689,0.385081,0.379101,0.381494,22752000.0,0.0,0.0,0.382091,0.372823,0.381493,0.388868,1999-01-28,1,4,28
3,0.381494,0.382689,0.363554,0.363554,24403200.0,0.0,0.0,0.372823,0.367740,0.382091,0.378803,1999-01-29,1,4,29
4,0.363554,0.373122,0.363554,0.370730,15470400.0,0.0,0.0,0.367740,0.352493,0.372823,0.374218,1999-02-01,2,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5811,242.619995,243.259995,234.690002,237.139999,36509500.0,0.0,0.0,239.427498,231.205002,239.499996,239.026474,2022-03-03,3,9,3
5812,233.839996,236.800003,224.820007,229.360001,43141500.0,0.0,0.0,231.205002,221.330002,239.427498,236.710832,2022-03-04,3,9,4
5813,228.169998,230.330002,213.300003,213.520004,45082100.0,0.0,0.0,221.330002,214.614998,231.205002,230.654167,2022-03-07,3,10,7
5814,213.089996,223.729996,206.500000,215.139999,55746700.0,0.0,0.0,214.614998,227.169998,221.330002,222.383334,2022-03-08,3,10,8
5815,223.869995,232.199997,222.470001,230.139999,49180600.0,0.0,0.0,227.169998,224.647503,214.614998,221.038333,2022-03-09,3,10,9

In [ ]:
x_train_expanded = df[['average','yesterday','roll 3','month','week','day']]
lr2 = LinearRegression()
lr2.fit(x_train_expanded,y_train)
lr2.score(x_train_expanded,y_train)

0.999228194829579